* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background: rgb(22, 28, 31);
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-box {
    width: 100px;
    height: 500px;
    margin: 10px;
    border-radius: 50px;
    background: url(https://cdn.motor1.com/images/mgl/P33NqL/s1/2022-bmw-m3-touring.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    transition: 500ms;
}

.img-box h3 {
    position: absolute;
    bottom: 0;
    left: 25px;
    font-size: 18px;
    color: #fafafa;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}

.img-box:nth-child(2) {
    background: url(https://hips.hearstapps.com/hmg-prod/images/2024-mercedes-amg-c63-s-e-performance-front-motion5-1663695513.jpg?crop=0.733xw:0.549xh;0.138xw,0.307xh&resize=1200:*);
    background-position: center;
    background-size: cover;
}

.img-box:nth-child(3) {
    background: url(https://cdn.motor1.com/images/mgl/XB32Xe/s1/2023-audi-r8-v10-gt-rwd.webp);
    background-position: center;
    background-size: cover;
}

.img-box:nth-child(4) {
    background: url(https://assets.rebelmouse.io/media-library/2025-chevrolet-camaro-z-28-last-call-for-the-brands-ice-muscle-cars.jpg?id=33631169&width=1200&height=800&quality=90&coordinates=0%2C0%2C1%2C0);
    background-position: center;
    background-size: cover;
}

.img-box:hover {
    width: 250px;
    cursor: pointer;
}

.img-box:hover h3 {
    opacity: 1;
    bottom: 25px;
}